<h1>Edit <%= @plant.name %></h1>

<form action="/plants/<%=@plant.id %>"" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <label> "<%=@plant.name %>" </label>
  <input type="submit" value="Delete Plant?">
</form>