<h1>Edit <%= @plant.name %></h1>

<form action="/plants/<%=@plant.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label> Plant Name </label>
  <input type="text" name="name" value="<%=@plant.name %>"> </br>

  <label> Plant Type </label>
  <input type="text" name="type" value="<%=@plant.kind %>"> </br>

  <input type="submit" value="Update">
</form>