
<h1> <%= @user.username %>'s Plants </h1>

<% @user.plants.each do |p| %>
    Plant: <%= p.name %> <br />
    Kind: <%= p.kind %> <br />
    <a href="/plants/<%=p.id%>/edit">Edit</a>
    <br />
    <br />
<% end %>